aniso8601==8.0.0
cheroot==8.4.8
click==7.1.2
Flask==1.1.2
Flask-RESTful==0.3.8
itsdangerous==1.1.0
jaraco.functools==3.0.1
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.6.0
pytz==2020.4
six==1.15.0
Werkzeug==1.0.1
